
export base="downloads/"

# Mine # 

export leftWidth=1080; #VERTICAL LEFT MONITOR 
export leftHeight=1920;
let leftHeightOffset=0+$offset;
export leftHeightOffset; 


export midWidth=2560;
export midHeight=1080;
let midHeightOffset=300+$offset;
export midHeightOffset; 

export rightWidth=1440;
export rightHeight=1080;
let rightHeightOffset=650+$offset;
export rightHeightOffset; 

#i have an ssh key set up for this 
export remote_position="left";  #my remote is on the left 
export remoteHost="venus";
export remotePath="Pictures/";

